<% if notice %>
  <div class="text-center py-4 rounded-lg bg-slate-200 w-11/12 h-auto m-auto mb-4">
    <%= notice %>
  </div>
<% end %>
<% if alert %>
  <div class="text-center py-4 rounded-lg bg-red-300 w-11/12 h-auto m-auto mb-4">
    <%= alert %>
  </div>
<% end %>
