<%= link_to root_path do %> 
    <h1>SellBuy</h1>
<% end %>

<%= link_to t('common.links.new_product'), new_product_path %>
<<<<<<< HEAD
<%= link_to t('common.links.categories'), categories_path %>
=======
>>>>>>> 209f955f9ac86684e6ff37dfec68ad2bc24daef4
