/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.down_menu {
  width: fit-content;
  height: auto;
  align-self: center;
}

.trans {
  transition: all 0.5s ease;
}

.menu_icon {
  width: 3.5rem;
  transform: rotateX(180deg);
}

.menu_icon_up {
  width: 3.5rem;
}

.none {
  display: none;
}

#menu {
  z-index: 1;
}

.close {
  display: none;
}

.form_input, #order_by {
  border-radius: 15px;
  width: 91%;
}

