/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.down_menu {
  width: fit-content;
  height: auto;
  align-self: center;
}

.trans {
  transition: all 0.5s ease;
}

.menu_icon {
  width: 2rem;
  transform: rotateX(180deg);
}

.menu_icon_up {
  width: 2rem;
}

.none {
  display: none;
}

#menu {
  z-index: 1;
}

.close {
  display: none;
}

/* .products {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15rem;
} */

.product_image {
  width: 100%;
}

.product_image>img {
  width:100%;
  object-fit: cover;
  border-radius: .6rem;
}

.product_info {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.product_info p {
  font-size: x-large;
}

.card h2 {
  padding: .5rem 0;
  font-size: xx-large;
}

