<h1><%= t('.title') %></h1>

<%= render partial: 'category', collection: @categories %>

<<<<<<< HEAD
=======

>>>>>>> 209f955f9ac86684e6ff37dfec68ad2bc24daef4
<%= link_to t('common.links.new_category'), new_category_path %>
