<p id="favorite">
  <%= link_to 'ðŸ¤', favorites_path(product_id: product.id), class: "no-underline select-none text-3xl", id: 'confeti', data: { turbo_method: :post } unless product.favorite %>
  <%= link_to 'ðŸ’˜', favorite_path(product), class: "no-underline select-none text-3xl", data: { turbo_method: :delete } if product.favorite %>
</p>
