<span id="favorite">
  <%= link_to 'ðŸ¤', favorites_path(product_id: product.id), style: 'text-decoration: none; user-select: none;', id: 'confeti', data: { turbo_method: :post } unless product.favorite %>
  <%= link_to 'ðŸ’˜', favorite_path(product), class: "unlike", style: 'text-decoration: none', data: { turbo_method: :delete } if product.favorite %>
</span>
