<div class="card" style="margin-top: 2rem;">
  <%= link_to  product_path(product) do %>
    <div class="product_image">
      <%= image_tag product.images[0] if product.images.attached? %>
    </div>
    <div class="product_info">
      <h2><%= product.title %></h2>
      <p><%= product.price %>€</p>
    </div>
  <% end %>
</div>
